<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://armony.ophiris.com">
                        Armony
                    </a>
                </li>
                <li>
                    <a href="https://ophiris.com">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://blog.ophiris.com">
                        Pricing
                    </a>
                </li>
                <li>
                    <a href="https://ophiris.com">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://ophiris.com" target="_blank">Ophir International Services</a>
        </div>
    </div>
</footer>