<router-outlet></router-outlet>
<div class="main-panel">

    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <!-- Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/clients" style="cursor: pointer"
                                    href="">Clients</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Modifier un client</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-3">
                    <div class="card">

                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Modification</h4>
                            <p class="card-category">Veuillez renseigner les détails sur ce client</p>
                            <button class="btn btn-success pull-right" (click)="onBack()">Retour</button>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="editClientForm" (ngSubmit)="onUpdateClient()">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="sex" class="bmd-label-floating">Sexe</label>
                                            <input formControlName="sex" 
                                                value = "{{ client.sex }}"
                                                type="text" class="form-control"
                                                name="sex" id="sex" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="nationality" class="bmd-label-floating">Nationalité</label>
                                            <input formControlName="nationality" 
                                                value = "{{ client.nationality }}"
                                                type="text" class="form-control"
                                                name="nationality" id="nationality" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="form-group">
                                            <label for="lastname" class="bmd-label-floating">Nom</label>
                                            <input formControlName="lastname" 
                                                value = "{{client.lastname}}"
                                                type="text" class="form-control"
                                                name="lastname" id="lastname" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="form-group">
                                            <label for="firstname" class="bmd-label-floating">Prénoms</label>
                                            <input formControlName="firstname" 
                                               value = "{{ client.firstname }}"
                                                type="text" class="form-control"
                                                name="firstname" id="firstname" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="form-group">
                                            <label for="phone" class="bmd-label-floating">Téléphone</label>
                                            <input formControlName="phone"
                                             value = "{{client.phone}}"
                                             type="text" class="form-control" 
                                             name="phone"
                                                id="phone" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="form-group">
                                            <label for="passport" class="bmd-label-floating">CIN / Passeport</label>
                                            <input formControlName="passport" 
                                                type="text" name="passport" 
                                                value = "{{ client.passport_number }}"
                                                id="passport"
                                                class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-6 col-sm-3">
                                        <div class="form-group">
                                            <label>Remarque</label>
                                            <div class="form-group">
                                                <label class="bmd-label-floating"> Indiquez si il y a une information
                                                    spécifique
                                                    à propos de ce client (ex: VIP, homme politique, diabétique)</label>
                                                <textarea formControlName="remark" class="form-control" 
                                                name="remark" value = "{{ client.remark }}"
                                                    id="remark" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <button class="btn btn-primary"
                                        type="submit">Modifier</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <app-footer></app-footer>
</div>