<router-outlet></router-outlet>
<div class="main-panel">

  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content -->
  <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/hotels" style="cursor: pointer" href="">Hôtels</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste de vos hôtels</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Liste de vos hôtels</h4>
                <p class="card-category">Trouvez ci-dessous les informations sur vos hôtels</p>
                <button class="btn btn-success pull-right" (click)="onNewHotel()">Ajouter hôtel</button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>
                        Hôtel
                      </th>
                      <th>
                        Téléphone
                      </th>
                      <th>
                         Classe
                      </th>
                      <th>
                          Localisation
                      </th>
                      <th>
                        Détails
                      </th>
                      <th>
                        Supprimer
                      </th>
                    </thead>
                    <tbody id="productList">
                      <tr *ngFor="let hotel of hotels; let i = index">
                        <td>{{ hotel.name }} </td>
                        <td>{{ hotel.phone }}</td>
                        <td>{{ hotel.class_id }} étoiles</td>
                        <td>{{ hotel.city }}</td>
                        <td><span style="cursor: pointer;" (click)="onViewHotel(i)">Détails</span></td>
                        <td><span style="cursor: pointer;" class="text-danger"
                            (click)="onDeleteHotel(hotel)">Supprimer</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  <!-- End Content -->

  <app-footer></app-footer>

</div>