<div class="sidebar" data-color="purple" data-background-color="white" data-image="../../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Armony
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="/auth/signin" style="cursor: pointer">
                    <i class="material-icons">https</i>
                    <p>Se connecter</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="/auth/signup" style="cursor: pointer">
                    <i class="material-icons">folder_shared</i>
                    <p>Créer compte</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/dashboard" style="cursor: pointer">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/clients" style="cursor: pointer">
                    <i class="material-icons">people</i>
                    <p>Clients</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/bookings" style="cursor: pointer">
                    <i class="material-icons">shopping_cart</i>
                    <p>Réservations</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/rooms" style="cursor: pointer">
                    <i class="material-icons">room</i>
                    <p>Chambres</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/categories" style="cursor: pointer">
                    <i class="material-icons">category</i>
                    <p>Catégories</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/fares" style="cursor: pointer">
                    <i class="material-icons">local_atm</i>
                    <p>Tarifs</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" routerLink="/hotels" style="cursor: pointer">
                    <i class="material-icons">hotel</i>
                    <p>Hôtels</p>
                </a>
            </li>     
            <li class="nav-item" *ngIf="isAuth">
                <a class="nav-link" (click)="onSignOut()" style="cursor: pointer">
                    <i class="material-icons">logout</i>
                    <p>Déconnexion</p>
                </a>

            </li>
        </ul>
    </div>
</div>