<router-outlet></router-outlet>
<div class="main-panel">

  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <h2>Statistiques aujourd'hui</h2>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <form>
            <label for="displayDate">Trier par date</label>
            <input type="date" id="displayDate" class="form-control" />
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">logout</i>
              </div>
              <p class="card-category"><strong>Arrivées</strong></p>
              <h3 class="card-title">
                {{ toDayCheckIn}}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i>Aujourd'hui
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">logout</i>
              </div>
              <p class="card-category">Départs</p>
              <h3 class="card-title">5</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i>Aujourd'hui
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">cancel</i>
              </div>
              <p class="card-category">Réservations</p>
              <h3 class="card-title">{{ cancelledBooking }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">cancel</i>
                <span class="text-danger">Annulées</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person_add</i>
              </div>
              <p class="card-category">Réservations</p>
              <h3 class="card-title">{{  unconfirmedBooking }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-warning">person_add</i>
                <span class="text-warning">En attente de validation</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person_add</i>
              </div>
              <p class="card-category">Réservations</p>
              <h3 class="card-title">{{ confirmedBooking }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-success">date_range</i>
                <span class="text-success">Confirmées</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">network_wifi</i>
              </div>
              <p class="card-category">Taux d'occupation</p>
              <h3 class="card-title">40%</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">home</i>
              </div>
              <p class="card-category">Unités Disponible</p>
              <h3 class="card-title">4</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-success">update</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form>
            <fieldset>
              <div class="row">
                <legend>Rechercher une réservation</legend>
              </div>


              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Client</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                      <option></option>
                      <option value="">Confirmed</option>
                      <option value="">Pending</option>
                      <option value="">Cancelled</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Payment status</label>
                    <select class="form-control">
                      <option></option>
                      <option value="PARTIALLY_PAID">Partially Paid</option>
                      <option value="PAID">Paid</option>
                      <option value="UNPAID">UnPaid</option>
                    </select>
                  </div>

                </div>
                <div class="col">
                  <div class="form-group">
                    <label>N°réservation</label>
                    <input type="text" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label>Type de chambres</label>
                    <select class="form-control">
                      <option></option>
                      <option value="PARTIALLY_PAID">suite</option>
                      <option value="PAID">bungalow</option>
                      <option value="UNPAID">chambre</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Source</label>
                    <select class="form-control">
                      <option></option>
                      <option value="PARTIALLY_PAID">Booking.com</option>
                      <option value="PAID">Expedia</option>
                      <option value="UNPAID">TripAvisor</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Check In From</label>
                        <input type="date" class="form-control" placeholder="From" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>To</label>
                        <input type="date" class="form-control" placeholder="To" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Check Out From</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>To</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Confirmed From</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>To</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Pending From</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>To</label>
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Cancelled From</label>
                          <input type="date" class="form-control"/>
                        </div>
                      </div>
                      <div class="col">
                          <div class="form-group">
                            <label>To</label>
                            <input type="date" class="form-control"/>
                          </div>
                        </div>
                    </div>

                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <button class="btn btn-primary btn-lg btn-fab btn-round pull-right">
                      <i class="material-icons icon-circle">search</i>
                  </button>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

  <app-footer></app-footer>

</div>